<form method="POST">
  {% for medico in medicos %}
    <div><strong>{{ medico }}</strong></div>
    <div>
      {% for i in range(7) %}
        <label>
          <input type="checkbox" name="{{ medico }}[]" value="{{ i }}"
          {% if i in disponibilidad.get(medico, []) %}checked{% endif %}>
          {{ ['Lun', 'Mar', 'Mié', 'Jue', 'Vie', 'Sáb', 'Dom'][i] }}
        </label>
      {% endfor %}
    </div>
    <br>
  {% endfor %}
  <button type="submit">Guardar disponibilidad</button>
</form>
<<a href="/"><button>← Volver</button></a>