<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reporte</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <!-- Menú de navegación -->
    <nav>
        <ul>
            <li><a href="/">Registro</a></li>
            <li><a href="/reporte">Reporte</a></li>
        </ul>
    </nav>

    <h2>Reporte de Citas</h2>

    <form method="POST" action="/reporte">
        <label for="medico">Selecciona un médico:</label>
        <select id="medico" name="medico">
            <option value="">Todos</option>
            <option value="Dr. Correa">Dr. Correa</option>
            <option value="Dr. Isla">Dr. Isla</option>
            <option value="Dra. Laymito">Dra. Laymito</option>
            <option value="Dra. Torres">Dra. Torres</option>
            <option value="Dr. Figueroa">Dr. Figueroa</option>
        </select>

        <label for="fecha">Fecha de la cita:</label>
        <input type="date" id="fecha" name="fecha_reporte">

        <input type="submit" value="Filtrar Reporte">
    </form>

    <table>
        <tr>
            <th>Nombre</th>
            <th>DNI</th>
            <th>Fecha</th>
            <th>Médico</th>
            <th>Próxima Cita</th>
        </tr>
        {% for paciente in pacientes %}
        <tr>
            <td>{{ paciente.nombre }}</td>
            <td>{{ paciente.dni }}</td>
            <td>{{ paciente.fecha }}</td>
            <td>{{ paciente.medico }}</td>
            <td>{{ paciente.proximafecha }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
